<div class="main light-mode">

<%= search_form_for @q do |f| %>
  <%= f.text_field :title_or_year_or_production_or_name1_or_name2_or_name3_or_name4_or_name5_or_name6_or_name7_or_name8_or_name9_cont, placeholder: '検索キーワード' %>
  <%= f.collection_select :genre1_id_eq, @genres, :id, :name, include_blank: 'すべてのジャンル', label: 'カテゴリー1', selected: (params[:q] ? params[:q][:genre1_id_eq] : nil) %>
  <%= f.collection_select :genre2_id_eq, @genres, :id, :name, include_blank: 'すべてのジャンル', label: 'カテゴリー2', selected: (params[:q] ? params[:q][:genre2_id_eq] : nil) %>
  <%= f.collection_select :genre3_id_eq, @genres, :id, :name, include_blank: 'すべてのジャンル', label: 'カテゴリー3', selected: (params[:q] ? params[:q][:genre3_id_eq] : nil) %>
  <%= f.submit '検索' %>
<% end %>

<div class="anime-list">
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @animes.each do |anime| %>
        <tr>
          <td><a href="<%= anime_path(anime) %>"><%= anime.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


    </div>
<div id="genreToggleBtn" class="nav-link btn btn-light button-style">ジャンル詳細</div>
           <table id="genreTable">
               <thead>
                  <tr>
                    <th>ジャンル１</th>
                    <th>説明</th>
                  </tr>
               </thead>
               <tbody>
                 <tr>
                    <td>コメディ</td>
                    <td>笑いを主眼においたユーモラスなアニメ</td>
                </tr>
                 <tr>
                    <td>感動</td>
                    <td>心に響くストーリーのアニメ</td>
                </tr>
                  <tr>
                    <td>アクション</td>
                    <td>動きの激しいシーンや戦闘が主要な要素となるアニメ</td>
                </tr>
                 <tr>
                    <td>ロマンス</td>
                    <td>恋愛や人間関係が中心となるアニメ</td>
                </tr>
                  <tr>
                    <td>ドラマ</td>
                    <td>感動的なストーリーや深い人間ドラマが描かれるアニメ</td>
                </tr>
               </tbody>
                <thead>
                  <tr>
                    <th>ジャンル2</th>
                    <th>説明</th>
                  </tr>
               </thead>
                 <tr>
                    <td>ファンタジー</td>
                    <td>魔法や異世界などの架空の要素が含まれるアニメ</td>
                </tr>

                 <tr>
                    <td>冒険</td>
                    <td>主人公が未知の世界や場所を冒険するアニメ</td>
                </tr>
               
                 <tr>
                    <td>歴史</td>
                    <td>歴史的な時代や出来事を題材にしたアニメ</td>
                </tr>
                  <tr>
                    <td>学園</td>
                    <td>学校や学園生活を舞台にしたアニメ</td>
                </tr>
             </tbody>
              <thead>
                  <tr>
                    <th>ジャンル3</th>
                    <th>説明</th>
                  </tr>
               </thead>
                 <tr>
                    <td>SF</td>
                    <td>科学技術の進歩や未来社会をテーマにしたアニメ</td>
                </tr>
                  <tr>
                    <td>ミステリー</td>
                    <td>謎や推理が中心となるアニメ</td>
                </tr>
                 <tr>
                    <td>ロボット</td>
                    <td>ロボットやメカが登場し、戦闘や冒険が展開するアニメ</td>
                </tr>
                  <tr>
                    <td>音楽</td>
                    <td>音楽やアイドル活動が主要な要素となるアニメ</td>
                </tr>
                <tr>
                    <td>ホラー</td>
                    <td>恐怖や不気味な要素が描かれるアニメ</td>
                </tr>
                   <tr>
                    <td>スポーツ</td>
                    <td>競技やスポーツに焦点を当てたアニメ</td>
                </tr>
               </tbody>
          </table>
    

 <div id="mode-toggle" class="icon">
    <button id="modeToggleBtn" class="mode-toggle-button">
     <%= image_tag("light-mode.png", alt: "Dark Mode", size: "200x200", id: "modeToggleImg", class: "mode-toggle-image") %>
    </button>
  </div>
</div>